We will be using the UCI Machine Learning [Student Alcohol Consumption](https://www.kaggle.com/datasets/uciml/student-alcohol-consumption) dataset on Kaggle for this mini-project. From this, we want to find out whether

1. What are the main Factors affecting students' grades?

undefined. Which model would be the best to predict students' grades?

First, we need to clean up the dataset to use for the rest of mini-project.

## Data Cleaning

### Importing essential libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

There are two datasets to import: Math course students and Portugese language course students. Before we merge them together, we need to check that both datasets have the same number and types of attributes.

### Reading datasets and combining them

In [3]:
df1 = pd.read_csv('student-math.csv')
df2 = pd.read_csv('student-portugese.csv')

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB

Now we merge the datasets together (including duplicate entries).

In [7]:
df3 = df1.append(df2)
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1044 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      1044 non-null   object
 1   sex         1044 non-null   object
 2   age         1044 non-null   int64
 3   address     1044 non-null   object
 4   famsize     1044 non-null   object
 5   Pstatus     1044 non-null   object
 6   Medu        1044 non-null   int64
 7   Fedu        1044 non-null   int64
 8   Mjob        1044 non-null   object
 9   Fjob        1044 non-null   object
 10  reason      1044 non-null   object
 11  guardian    1044 non-null   object
 12  traveltime  1044 non-null   int64
 13  studytime   1044 non-null   int64
 14  failures    1044 non-null   int64
 15  schoolsup   1044 non-null   object
 16  famsup      1044 non-null   object
 17  paid        1044 non-null   object
 18  activities  1044 non-null   object
 19  nursery     1044 non-null   object
 20  higher      1044 non-null   object
 21  internet    1044 non-null   object
 22  romantic    1044 non-null   object
 23  famrel      1044 non-null   int64
 24  freetime    1044 non-null   int64
 25  goout       1044 non-null   int64
 26  Dalc        1044 non-null   int64
 27  Walc        1044 non-null   int64
 28  health      1044 non-null   int64
 29  absences    1044 non-null   int64
 30  G1          1044 non-null   int64
 31  G2          1044 non-null   int64
 32  G3          1044 non-null   int64
dtypes: int64(16), object(17)
memory usage: 277.3+ KB

This dataset has 33 attributes, and it is impossible to use all of them. Therefore, we have decided to only use a subset of attributes. Those include:

1. school (student's school)

undefined. sex - student's sex

undefined. age - student's age

undefined. address - student's home address type

undefined. famsize - family size

undefined. Pstatus - parent's cohabitation status

undefined. Medu - mother's education

undefined. Fedu - father's education

undefined. traveltime - home to school travel time

undefined. studytime - weekly study time

undefined. famrel - quality of family relationships

undefined. freetime - free time after school

undefined. goout - going out with friends

undefined. Dalc - workday alcohol consumption

undefined. Walc - weekend alcohol consumption

undefined. health - current health status

undefined. absences - number of school absences

undefined. G1 - first period grade

undefined. G2 - second period grade

undefined. G3 - final grade

### Checking info of the data and removing considered unimportant data

In [8]:
df4 = df3.drop(['Mjob','Fjob', 'reason', 'guardian', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic'], axis=1)

In [9]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1044 entries, 0 to 648
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      1044 non-null   object
 1   sex         1044 non-null   object
 2   age         1044 non-null   int64
 3   address     1044 non-null   object
 4   famsize     1044 non-null   object
 5   Pstatus     1044 non-null   object
 6   Medu        1044 non-null   int64
 7   Fedu        1044 non-null   int64
 8   traveltime  1044 non-null   int64
 9   studytime   1044 non-null   int64
 10  famrel      1044 non-null   int64
 11  freetime    1044 non-null   int64
 12  goout       1044 non-null   int64
 13  Dalc        1044 non-null   int64
 14  Walc        1044 non-null   int64
 15  health      1044 non-null   int64
 16  absences    1044 non-null   int64
 17  G1          1044 non-null   int64
 18  G2          1044 non-null   int64
 19  G3          1044 non-null   int64
dtypes: int64(15), object(5)
memory usage: 171.3+ KB

There are some students who belong to both datasets, so we also need to remove any duplicate entries.

In [10]:
student_data = df4.drop_duplicates(subset=['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'traveltime', 'studytime', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences'])

In [11]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 944 entries, 0 to 648
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      944 non-null    object
 1   sex         944 non-null    object
 2   age         944 non-null    int64
 3   address     944 non-null    object
 4   famsize     944 non-null    object
 5   Pstatus     944 non-null    object
 6   Medu        944 non-null    int64
 7   Fedu        944 non-null    int64
 8   traveltime  944 non-null    int64
 9   studytime   944 non-null    int64
 10  famrel      944 non-null    int64
 11  freetime    944 non-null    int64
 12  goout       944 non-null    int64
 13  Dalc        944 non-null    int64
 14  Walc        944 non-null    int64
 15  health      944 non-null    int64
 16  absences    944 non-null    int64
 17  G1          944 non-null    int64
 18  G2          944 non-null    int64
 19  G3          944 non-null    int64
dtypes: int64(15), object(5)
memory usage: 154.9+ KB

Finally, we check if the dataset contains any null data.

In [12]:
student_data.isnull().sum()==0

school        True
sex           True
age           True
address       True
famsize       True
Pstatus       True
Medu          True
Fedu          True
traveltime    True
studytime     True
famrel        True
freetime      True
goout         True
Dalc          True
Walc          True
health        True
absences      True
G1            True
G2            True
G3            True
dtype: bool

Since the dataset does not contain any null data, we can now proceed to analyze our data set.

In [13]:
student_data.to_csv('student_data.csv')

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=836c9daf-3707-4663-9099-373e87755d88' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>